body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  
}

.playlistTitle{
  font-size: 20px;
}

.plylistImage{
  width:100%;
}

.App{
  height: 100%;
  width: 100%;
}

.signInBtn{
  position: absolute;
  padding: 20px;
  font-size: 40px;
  text-align: center;
  top: 75%;
  left: 45%;
  cursor: pointer;
}

.homeImage{
  height: 100vh;
  background-repeat: no-repeat;
  background-size: 100%;

}

.card.border-success{
  width: 100%;
}
