body {
  margin: 0;
  padding: 0;
}

.playlistTitle{
  font-size: 20px;
}

.plylistImage{
  width:100%;
}

.App{
  height: 100%;
  width: 100%;
}

#navbar{
  padding: 10px;
}

.signInBtn{
  font-size: 28px;
}

h2{
  color: #00bc8c;
}

.homeImage{
  height: calc(100vh - 80px);
  background-repeat: no-repeat;
  background-size: 100%;
}

.card.border-success{
  width: 100%;
}
